<footer>
  <section style="max-width: 41em; margin-left: auto; margin-right: auto">
    <blockquote class="grid">
      <p>
        “Urge yourself on,<br />
        reflect on yourself.<br />
        A mendicant self-controlled and mindful<br />
        will always dwell in happiness.”
      </p>
      <p>
        “Attanā codayattānaṁ,<br />
        paṭimaṁsetha attanā;<br />
        So attagutto satimā,<br />
        sukhaṁ bhikkhu vihāhisi.”
      </p>
    </blockquote>
    <footer>
      <cite>— Dhammapada 379</cite>
    </footer>
  </section>
</footer>
